.search {
  margin-right: 10px;
  padding: 5px 10px;
  width: 250px;
}

.button {
  padding: 5px 10px;
}

.results {
  width: 35%;
  min-width: 35%;
}

.result {
  margin: 30px 0;
}

.card {
  margin-left: 20px;
}

.tag {
  font-weight: 700;
  font-size: 16px;
}

.cite {
  font-size: 14px;
  margin: 5px 0;
}

.download {
  margin-top: 50px;
}